package ${packageName}.domain.bo;

#set($useSuperColumns = $useBaseEntity)
import ${packageName}.domain.${ClassName};
#if($useBaseEntity)
import org.dromara.common.mybatisflex.core.domain.BaseEntity;
#else
import org.dromara.common.mybatisflex.core.domain.QueryBaseEntity;
#end

import org.dromara.common.core.validate.AddGroup;
import org.dromara.common.core.validate.EditGroup;
import io.github.linpeilie.annotations.AutoMapper;
import lombok.Data;
import lombok.EqualsAndHashCode;
import jakarta.validation.constraints.*;
#foreach ($import in $importList)
import ${import};
#end

/**
 * ${functionName}业务对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
#set($Entity="")
#if($useBaseEntity)
#set($Entity="BaseEntity")
#end
@EqualsAndHashCode(callSuper = true)
@AutoMapper(target = ${ClassName}.class, reverseConvertGenerate = false)
public class ${ClassName}Bo#if($Entity != "") extends ${Entity} #else extends QueryBaseEntity #end{

#foreach ($column in $columns)
#if((!$useSuperColumns || !$table.isSuperColumn($column.javaField)) && ($column.query || $column.insert || $column.edit))
    /**
     * $column.columnComment
     */
#if($column.insert && $column.edit)
#set($Group="AddGroup.class, EditGroup.class")
#elseif($column.insert)
#set($Group="AddGroup.class")
#elseif($column.edit)
#set($Group="EditGroup.class")
#end
#if($column.required)
#if($column.javaType == 'String')
    @NotBlank(message = "$column.columnComment不能为空", groups = { $Group })
#else
    @NotNull(message = "$column.columnComment不能为空", groups = { $Group })
#end
#end
    private $column.javaType $column.javaField;

#end
#end

}
