package ${packageName}.domain.bo;

#set($useSuperColumns = $useBaseEntity || $useTenantEntity)
import ${packageName}.domain.${ClassName};
#if($useTenantEntity)
import org.dromara.common.tenant.core.TenantEntity;
#elseif($useBaseEntity)
import org.dromara.common.mybatisflex.core.domain.BaseEntity;
#else
import java.io.Serializable;
#end

import org.dromara.common.core.validate.AddGroup;
import org.dromara.common.core.validate.EditGroup;
import io.github.linpeilie.annotations.AutoMapper;
import lombok.Data;
#if($useSuperColumns)
import lombok.EqualsAndHashCode;
#end
import jakarta.validation.constraints.*;
#foreach ($import in $importList)
import ${import};
#end

/**
 * ${functionName}业务对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
#set($Entity="")
#if($useTenantEntity)
#set($Entity="TenantEntity")
#elseif($useBaseEntity)
#set($Entity="BaseEntity")
#end
#if($useSuperColumns)
@EqualsAndHashCode(callSuper = true)
#end
@AutoMapper(target = ${ClassName}.class, reverseConvertGenerate = false)
public class ${ClassName}Bo#if($Entity != "") extends ${Entity} #else implements Serializable #end{

    @Serial
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if((!$useSuperColumns || !$table.isSuperColumn($column.javaField)) && ($column.query || $column.insert || $column.edit))
    /**
     * $column.columnComment
     */
#if($column.insert && $column.edit)
#set($Group="AddGroup.class, EditGroup.class")
#elseif($column.insert)
#set($Group="AddGroup.class")
#elseif($column.edit)
#set($Group="EditGroup.class")
#end
#if($column.required)
#if($column.javaType == 'String')
    @NotBlank(message = "$column.columnComment不能为空", groups = { $Group })
#else
    @NotNull(message = "$column.columnComment不能为空", groups = { $Group })
#end
#end
    private $column.javaType $column.javaField;

#end
#end

}
