package ${packageName}.domain;

#set($useSuperColumns = $useBaseEntity)
#if($useBaseEntity)
import org.dromara.common.mybatisflex.core.domain.BaseEntity;
#else
import org.dromara.common.mybatisflex.core.domain.QueryBaseEntity;
#end

import com.mybatisflex.annotation.*;
import lombok.Data;
import lombok.EqualsAndHashCode;
#foreach ($import in $importList)
import ${import};
#end


/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
#set($Entity="")
#if($useBaseEntity)
#set($Entity="BaseEntity")
#end
@Data
@EqualsAndHashCode(callSuper = true)
@Table("${tableName}")
public class ${ClassName}#if($Entity != "") extends ${Entity} #else extends QueryBaseEntity #end{



#foreach ($column in $columns)
#if(!$useSuperColumns || !$table.isSuperColumn($column.javaField))
    /**
     * $column.columnComment
     */
#if($column.javaField=='delFlag')
    @Column(isLogicDelete = true)
#end
#if($column.javaField=='version')
    @Column(version = true)
#end
#if($column.isPk==1)
    @Id
#end
    private $column.javaType $column.javaField;

#end
#end

}
