package ${packageName}.domain;

#set($useSuperColumns = $useBaseEntity || $useTenantEntity)
#if($useTenantEntity)
import org.dromara.common.tenant.core.TenantEntity;
#elseif($useBaseEntity)
import org.dromara.common.mybatisflex.core.domain.BaseEntity;
#else
import java.io.Serializable;
#end

import com.mybatisflex.annotation.*;
import lombok.Data;
#if($useSuperColumns)
import lombok.EqualsAndHashCode;
#end
#foreach ($import in $importList)
import ${import};
#end

import java.io.Serial;

/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
#set($Entity="")
#if($useTenantEntity)
#set($Entity="TenantEntity")
#elseif($useBaseEntity)
#set($Entity="BaseEntity")
#end
@Data
#if($useSuperColumns)
@EqualsAndHashCode(callSuper = true)
#end
@Table("${tableName}")
public class ${ClassName}#if($Entity != "") extends ${Entity} #else implements Serializable #end{

    @Serial
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if(!$useSuperColumns || !$table.isSuperColumn($column.javaField))
    /**
     * $column.columnComment
     */
#if($column.javaField=='delFlag')
    @Column(isLogicDelete = true)
#end
#if($column.javaField=='version')
    @Column(version = true)
#end
#if($column.isPk==1)
    @Id
#end
    private $column.javaType $column.javaField;

#end
#end

}
